.fntsty-old{
    font-family: old english text mt
}
.fntsty-viv{
            font-family: vivaldi
}
.cnt{
    text-align: center;
}
.flt-rt{
    float: right;
}
.flt-lf{
    float: left;
}
.non{
    float: left;
    list-style-type:none;
    display: inline-block;
}
.container{
    padding:0.01em 16px;
}
.round-8{
    border-radius: 16px 34px 16px 34px;
}
.round-4 {
    border-radius:  8px 24px 8px 24px;
    border: 1px solid #333333;
    
}
.card-4{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3),0 4px 16px 0 rgba(0,0,0,0.3);
}
.clr-black{
    background-color: #333333;
    color:white;
}
.clr-teal{
    background-color: teal;
    color: white
}
.hover-teal:hover{
    background-color: teal;
    color: whitesmoke;
}
.hover-black:hover{
    background-color: #333333;
    color:mintcream;
}
.hover-white:hover{
    background-color: white;
    color:#333333;
}
.width-33{
    width: 33.33%;
}
.width-50{
    width: 49.9999999%;
}
.width-100{
    width:99.999%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.pad-16{
    padding: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.pad-8{
    padding: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.hover-black-teal:hover{
    background-color:#333333;
    color: white;
}
.hover-teal-black:hover{
    background-color:#333333;
    color: white;
}
.pad-n{
    padding: 8px 20px 8px 20px
}
.brd-lrg{
    border: none;
    border-bottom: 2px solid teal;
    width:30%;
    transition: width 1s ease-in-out;
    transition:width 1s ease-in-out;
    margin:4px;
    padding: 8px; 
}
.font-8{
    font-size: 12px;
}
.font-12{
    font: 16px;
}
.img-ub{
    background-image: url(54577_dark_316.jpg);
    background-repeat: no-repeat;
}
.brd-lrg:focus{
    width:90%;
}
.brd-lrg2{
    border: none;
    border-bottom: 2px solid #333333;
    width:40%;
    transition: width 0.8s ease-in-out;
    transition:width 0.9s ease-in-out;
    margin:4px;
    padding: 8px; 
}
.brd-lrg2:focus{
    width:90%;
}