</body>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/carousel-1.js"></script>
<script src="/js/carousel-2.js"></script>
<script src="/js/main.js"></script>
<% if (path == '/user/add-event'  || path == '/user/edit-event') { %>
    <script src="/js/select.js"></script>
    <% } else if (path == '/signup') { %>
        <script src="/js/auth.js"></script>
        <% } %>

            </html>