<footer class="sec-footer footer">
    <div class="footer__logo-box">
        <img src="img/caracakes8.png" alt="CaraCakes" class="footer__logo">
    </div>
    <div class="row margin-top-medium-ve">
        <div class="col-1-2 footer__links">
            <div>
                <div class="footer__left">
                    <h3 class="title-lil-2">
                        Locations
                    </h3>
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">Buea</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Limbe</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Bamenda</a></li>
                    </ul>
                </div>
                <div class="footer__right">
                    <h3 class="title-lil-2">
                        Protocol
                    </h3>
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">Terms and Condition</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Privacy Policy</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Careers</a></li>
                        <li class="footer__item"><a href="#" class="footer__dev">JB Inc</a></li>
                        <li class="footer__item"><a href="#" class="footer__dev">Jume Brice</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1-2">
            <div class="footer__creator">
                <div class="footer__creator--box">
                    <img src="img/jbInc.png" alt="Creator" class="footer__image">
                </div>
            </div>
        </div>
    </div>
    <div class="footer__contacts">
        <span class="footer__contacts--round"><a href="#" class="fab fa-facebook"></a></span>
        <span class="footer__contacts--round"><a href="#" class="fab fa-twitter"></a></span>
        <span class="footer__contacts--round"><a href="#" class="fab fa-instagram"></a></span>
        <span class="footer__contacts--round"><a href="#" class="fas fa-envelope"></a></span>
    </div>
    <div class="txt-cnt margin-top-small">
        <p class="para">Copyright &copy; of JBInc</p>
    </div>
</footer>