<div class="header__text-box margin-top-small">
    <h1 class="title">
        <span class="title--main-404">Some Error occured</span>
        <span class="title--sub-404">Sorry for the incovience, our team is currently working on it.</span>
        <span class="title--sad fas fa-sad-tear"></span>
    </h1>
</div>