<div class="header__text-box">
    <h1 class="title">
        <span class="title--main">Cara Cakes</span>
        <span class="title--sub">Resting place for flavours</span>
    </h1>
    <a href="/signup" class="btn btn-deep--pink btn-animated--left">Sign-up</a>
    <a href="#login" class="btn btn-deep--pink btn-animated--right">Login</a>
</div>