<section class="sec-contact" id="info">
    <div class="txt-cnt margin-top-medium margin-bottom-medium">
        <h2 class="title-lil-1 txt-white">
            Our ever ready contacts
        </h2>
    </div>
    <div class="row">
        <div class="col-1-2 txt-white">
            <h3 class="title-lil-2">
                Not sure!!! All you need do is call
            </h3>
            <p class="para">
                We always have an ever ready staff to careter to your needs. We are always available 24 hours a day, 365 days a year. So, don't be worried for long just call us.
            </p>
            <h3 class="title-lil-2">
                Are facing difficulties? Hola us at
            </h3>
            <p class="para">
                If you can't get to navigate through our platform efficiently and smoothly, we have a team, which is ready to help you through you difficulties. We are on your side today and forever.
            </p>
        </div>
        <div class="col-1-2 margin-top-small txt-cnt">
            <div class="contact contact-1">
                <div class="contact__list contact__list-1">
                    <span class="contact__icon fas fa-phone-alt"></span>
                    <span class="contact__number contact__number-1">681-726-633</span>
                    <span class="contact__number">681-726-633</span>
                </div>
            </div>
            <div class="contact contact-2">
                <div class="contact__list contact__list-2">
                    <span class="contact__icon fas fa-phone-alt"></span>
                    <span class="contact__number contact__number-2">681-726-633</span>
                    <span class="contact__number">681-726-633</span>
                </div>
            </div>
        </div>
    </div>
</section>