<section class="sec-abt">
    <div class="txt-cnt margin-top-small margin-bottom-small">
        <h2 class="title-lil-1" id="offers">
            We bring flavours for everyone
        </h2>
    </div>
    <div class="row">
        <div class="col-1-2">
            <h3 class="title-lil-2">
                You are going to feel the flavours in your spine
            </h3>

            <p class="para">
                Our team of expert bakers have years of experience, failed recipes, good recipes and perfect recipes. Thus this gives them the upper hand of knowing how a hint of vanilla will feel with a pinch of nutmeg
            </p>

            <h3 class="title-lil-2">
                Not only cakes, but everything flour with flavours
            </h3>

            <p class="para">
                We have an endless list of flour related stuff you can enjoy, not limited to cakes but ranging from cookies, to cupcakes even the best of pancakes with years of perfecting and incorporating different types of flavours
            </p>
        </div>
        <div class="col-1-2">
            <div class="frame">
                <div class="frame__pic1 frame__carousel txt-cnt frame__previous">
                    <img src="img/cups-7.jpg" alt="Cup cakes" class="frame__size-large">
                     <h3 class="title-lil-3">Cup cakes</h3>
                </div>
                <div class="frame__pic2 frame__carousel txt-cnt frame__current">
                    <img src="img/bds-1.jpg" alt="Birthday cakes" class="frame__size-large">
                     <h3 class="title-lil-3">Birthday cakes</h3>
                </div>
                <div class="frame__pic3 frame__carousel txt-cnt frame__next">
                    <img src="img/vals-1.jpg" alt="Valentine cakes" class="frame__size-large">
                     <h3 class="title-lil-3">Valentine cakes</h3>
                </div>
                <div class="frame__pic4 frame__carousel txt-cnt">
                    <img src="img/weds-1.jpg" alt="Wedding cakes" class="frame__size-large">
                     <h3 class="title-lil-3">Wedding cakes</h3>
                </div>
                <div class="frame__pic1 frame__carousel txt-cnt">
                    <img src="img/cookies-4.jpg" alt="cookies" class="frame__size-large">
                     <h3 class="title-lil-3">Cookies</h3>  
                </div>
                <div class="frame__pic2 frame__carousel txt-cnt">
                    <img src="img/pans-2.jpg" alt="pancakes" class="frame__size-large">
                     <h3 class="title-lil-3">Pancakes</h3>
                </div>
                <div class="frame__pic3 frame__carousel txt-cnt">
                    <img src="img/don-2.jpg" alt="doughnuts" class="frame__size-large">
                     <h3 class="title-lil-3">Doughnuts</h3>
                </div>
                <div class="frame__pic4 frame__carousel txt-cnt">
                    <img src="img/chris-3.jpg" alt="Christmas cakes" class="frame__size-large">
                     <h3 class="title-lil-3">Christmas cakes</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="txt-cnt margin-top-huge">
        <a href="#" class="btn-2 btn--brown btn-2__hover-icon">Learn more <span class="btn-2__icon">&#10095</span></a>
    </div>
</section>