<section class="sec-login" id="login">
    <div class="row">
        <div class="login">
            <div class="login__form-1">
                <form action="#" class="form">
                    <div class="form__group">
                        <input type="email" class="form__input" id="Email" placeholder="Email" required>
                        <label for="Email" class="form__label">Email</label>
                    </div>
                    <div class="form__group">
                        <input type="password" class="form__input" id="passWord" placeholder="Password" style="width: 95%" required>
                        <label for="passWord" class="form__label">Password</label>
                    </div>
                    <div class="form__group">
                        <a href="#" class="btn btn-deep--pink">Login</a>
                        <a href="/signup" class="btn btn-deep--pink">Sign-up</a>
                    </div>
                    <div class="form__group margin-top-small-ve">
                        <a href="#" class="btn-3">Forgot password</a>
                    </div>
                </form>
            </div>
            <div class="login__form-2 txt-cnt txt-white">
                <h2 class="title-lil-1 txt-black">
                    Enter the Gates of Flavours
                </h2>
            </div>
        </div>
    </div>
</section>