<section class="sec-carousel" id="gall">
    <div class="txt-cnt margin-top-small margin-bottom-small">
        <h2 class="title-lil-1">
            Have a glance at our treasure
        </h2>
    </div>
    <div class="carousel">
        <div class="carousel__frame carousel__frame-pic1 carousel__pprevious">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Birthday cake</span>
                    <span class="info__1--sub">One year plus dear</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic2 carousel__previous">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">cookies & nuts</span>
                    <span class="info__1--sub">slight gradient down the bite</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic3 carousel__current">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main info__enter info__enter_main">Christmass Cake</span>
                    <span class="info__1--sub info__enter info__enter_sub">for the house of loved ones</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic4 carousel__next">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Dougnuts</span>
                    <span class="info__1--sub">for everyone's choice</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic5 carousel__nnext">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Creamed Pancakes</span>
                    <span class="info__1--sub">Delicious pancakes with honey</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic6">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Caramel Cookies</span>
                    <span class="info__1--sub">Pineapple flavoured</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic7">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Cheese cake</span>
                    <span class="info__1--sub">For a loved one</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic8">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Cream cupcakes</span>
                    <span class="info__1--sub">Enjoy with friends</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic9">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Buttered pancakes</span>
                    <span class="info__1--sub"> with strawberry picks</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic10">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Wedding Cake</span>
                    <span class="info__1--sub">for the special one</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic11">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Sprinkled Dougnuts</span>
                    <span class="info__1--sub">Party with friends</span>
                </h2>
            </div>
        </div>
        <div class="carousel__frame carousel__frame-pic12">
            <div class="caro__info caro__info-1">
                <h2 class="info__1">
                    <span class="info__1--main">Valentine chocolate</span>
                    <span class="info__1--sub">I am sorry love</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="index">
        <div class="show"></div>
    </div>
</section>