<section class="sec-pantry">
        <div class="txt-cnt margin-top-small margin-bottom-small">
            <h2 class="title-lil-1">
                Visit the Pantry
            </h2>
        </div>
        <div class="txt-lt inventory">
            <h2 class="title-lil-3 txt-white-2">
                Birthdays
            </h2>
        </div>
        <div class="slide" id="bds">
            <div class="slide__frame frame--1st">
                <img src="../img/bds-1.jpg" alt="" class="slide__img">
            </div>
            <div class="slide__frame frame--2nd">
                <img src="../img/bds-2.jpg" alt="" class="slide__img">
            </div>
            <div class="slide__frame frame--3rd">
                <img src="../img/bds-10.jpg" alt="" class="slide__img">
            </div>
            <div class="slide__frame frame--4th">
                <img src="../img/bds-4.jpg" alt="" class="slide__img">
            </div>
            <div class="slide__frame frame--5th">
                <img src="../img/bds-5.jpg" alt="" class="slide__img">
            </div>
            <div class="slide__frame frame--6th">
                <img src="../img/bds-12.jpg" alt="" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/bds-7.jpg" alt="" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/bds-8.jpg" alt="" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/bds-9.jpg" alt="" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/bds-11.jpg" alt="" class="slide__img">
            </div>
        </div>
        <div class="txt-lt inventory">
            <h2 class="title-lil-3 txt-white-2">
                pancakes
            </h2>
        </div>
        <div class="slide" id="pan">
            <div class="slide__frame frame--1st-2nd">
                <img src="../img/pans-1.jpg" alt="pans" class="slide__img">
            </div>
            <div class="slide__frame frame--2nd-2nd">
                <img src="../img/pans-2.jpg" alt="pans" class="slide__img">
            </div>
            <div class="slide__frame frame--3rd-2nd">
                <img src="../img/pans-3.jpg" alt="pans" class="slide__img">
            </div>
            <div class="slide__frame frame--4th-2nd">
                <img src="../img/pans-4.jpg" alt="pans" class="slide__img">
            </div>
            <div class="slide__frame frame--5th-2nd">
                <img src="../img/pans-5.jpg" alt="pans" class="slide__img">
            </div>
            <div class="slide__frame frame--6th-2nd">
                <img src="../img/pans-6.jpg" alt="pans" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/pans-7.jpg" alt="pans" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/pans-8.jpg" alt="pans" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/pans-9.jpg" alt="pans" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/pans-10.jpg" alt="pans" class="slide__img">
            </div>
        </div>
        <div class="txt-lt inventory">
            <h2 class="title-lil-3 txt-white-2">
                cookies
            </h2>
        </div>
        <div class="slide" id="cookies">
            <div class="slide__frame frame--1st">
                <img src="../img/cookies-1.jpg" alt="Cookies" class="slide__img">
            </div>
            <div class="slide__frame frame--2nd">
                <img src="../img/cookies-2.jpg" alt="Cookies" class="slide__img">
            </div>
            <div class="slide__frame frame--3rd">
                <img src="../img/cookies-3.jpg" alt="Cookies" class="slide__img">
            </div>
            <div class="slide__frame frame--4th">
                <img src="../img/cookies-4.jpg" alt="Cookies" class="slide__img">
            </div>
            <div class="slide__frame frame--5th">
                <img src="../img/cookies-5.jpg" alt="Cookies" class="slide__img">
            </div>
            <div class="slide__frame frame--6th">
                <img src="../img/cookies-6.jpg" alt="Cookies" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/cookies-7.jpg" alt="Cookies" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/cookies-8.jpg" alt="Cookies" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/cookies-9.jpg" alt="Cookies" class="slide__img">
            </div>
            <div class="slide__frame">
                <img src="../img/cookies-10.jpg" alt="Cookies" class="slide__img">
            </div>
        </div>
    </section>