<section class="sec-description" id="stry">
    <div class="txt-cnt margin-top-medium-ve margin-bottom-medium">
        <h2 class="title-lil-1">
            Our team of expert bakers
        </h2>
    </div>
    <div class="row margin-bottom-medium margin-top-huge">
        <div class="col-1-4">
            <div class="info txt-cnt">
                <h3 class="title-lil-3">The Founder</h3>
                <p class="para txt-cnt">
                    You'd call me Manager or <abbr title="Chief Executive Officer">CEO</abbr>, but actually I don't really enjoy reading, what I love doing most is baking.
                    I had a passion for baking since I was in Secondary School and I have developed my recipes over time.
                </p>
                <div class="info__pic">
                    <div class="info__pic--round">
                        <img src="img/bds-5.jpg" alt="Founder" class="info__img">
                    </div>
                    <div class="info__name txt-lt">Joe~Myra</div>
                </div>
            </div>
        </div>
        <div class="col-1-4">
            <div class="info txt-cnt margin-bottom-small">
                <h3 class="title-lil-3">The Co-founder</h3>
                <p class="para txt-cnt">
                    I really didn't know how to bake good cakes, cookies or pancakes but I could differentiate between the flavours and knew which was best.
                    I met Cara in High School and since then she flavoured me into baking.
                </p>
                <div class="info__pic">
                    <div class="info__pic--round">
                        <img src="img/cups-4.jpg" alt="Co-founder" class="info__img">
                    </div>
                    <div class="info__name txt-lt">Doh Hakeem</div>
                </div>
            </div>
        </div>
        <div class="col-1-4">
            <div class="info txt-cnt">
                <h3 class="title-lil-3">Chief Baker</h3>
                <p class="para txt-cnt">
                    I really loved baking from when I was really young, because my mum did a lot of baking. Growing up I used to supply power to my mum in the mixing and checking.
                    Now I am used to it and I did a lot of experimenting.
                </p>
                <div class="info__pic">
                    <div class="info__pic--round">
                        <img src="img/bds-4.jpg" alt="Chief Baker" class="info__img">
                    </div>
                    <div class="info__name txt-lt">Bradley Glen</div>
                </div>
            </div>
        </div>
        <div class="col-1-4">
            <div class="info txt-cnt">
                <h3 class="title-lil-3">Manager</h3>
                <p class="para txt-cnt">
                    Who doesn't love a well flavoured cake, show me one liar. After having some cake at a wedding I couldn't get more of it, so I rushed home and googled
                    the recipe and tried it and I found out baking wasn't in my gene.
                </p>
                <div class="info__pic">
                    <div class="info__pic--round">
                        <img src="img/bds-5.jpg" alt="Manager" class="info__img">
                    </div>
                    <div class="info__name txt-lt">Claris~Pearl</div>
                </div>
            </div>
        </div>
    </div>
</section>