<div class="sideup">
    <input type="checkbox" class="sideup__checkbox" id="side-toggle">
    <label for="side-toggle" class="sideup__button">
        <span class="sideup__icon"></span>
    </label>
    <div class="sideup__list">
        <span class="sideup__item sideup__item--1"><a href="#" class="sideup__link fab fa-facebook"></a></span>
        <span class="sideup__item sideup__item--2"><a href="#" class="sideup__link fab fa-twitter"></a></span>
        <span class="sideup__item sideup__item--3"><a href="#" class="sideup__link fab fa-instagram"></a></span>
        <span class="sideup__item sideup__item--4"><a href="#" class="sideup__link fas fa-envelope"></a></span>
    </div>
</div>