<%- include('../partials/general-partials/head.ejs') %>
</head>

<body class="pos">
    <%- include('../partials/admin-partials/admin-header.ejs') %>
    <main>
        <%- include('../partials/admin-partials/admin-delete.ejs') %>
    </main>
    <%- include('../partials/general-partials/end.ejs') %>