$primary-light: #ff69b4;
$primary: #ff1493;
$primary-dark: #c71585;
$secondary-dark: #8b4513;
$secondary-light: #a0522d;
$tertiary-light: red;
$tertiary-dark: darkred;





$light-grey: #777;
$light-grey-2: #cfc6c6ee;
$light-grey-1: rgb(192, 187, 187);
$white: #fff;
$black: #000;
$dark-grey: rgb(24, 23, 23);
$danger: #dd1111;

$green: #0ccc0c;



// Font

$font-16: 1.6rem;
$sec-font-1: 1.4rem;


// Grid

$grid-width: 100%;
$vertical-marg: 5rem;
$vertical-marg-small: 3rem;
$horizontal-marg: 4rem;
$horizontal-marg-small: 2rem;

// Shop

$panel: 87vh;
$user-nav: 13vh;
$view: 68vh;
$event: 78vh;
