<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">Orders</h3>
    <div class="shop__info">
        <img src="/img/bds-3.jpg" alt="Birthday cakes" class="shop__img">
    </div>
    <div class="shop__control pad-8">
        <a href="/admin/orders" class="btn__func">View</a>
    </div>
</div>
<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">Clients</h3>
    <div class="shop__info">
        <img src="/img/bds-3.jpg" alt="Birthday cakes" class="shop__img">
    </div>
    <div class="shop__control pad-8">
        <a href="/admin/edit-past" class="btn__func">View</a>
    </div>
</div>
<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">birthday Cakes</h3>
    <div class="shop__info">
        <img src="/img/bds-3.jpg" alt="Birthday cakes" class="shop__img">
    </div>
    <div class="shop__control pad-8">
        <a href="/admin/add-bds" class="btn__func">Add</a>
        <a href="/admin/cakes" class="btn__func btn__func-delete">View</a>
    </div>
</div>
<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">Valentine mysteries</h3>
    <div class="shop__info">
        <img src="/img/vals-5.jpg" alt="valentine" class="shop__img">
    </div>
    <div class="shop__control pad-8">
        <a href="/admin/add-vals" class="btn__func">Add</a>
        <a href="/admin/vals" class="btn__func btn__func-delete">View</a>
    </div>
</div>
<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">doughnuts</h3>
    <div class="shop__info">
        <img src="/img/don-3.jpg" alt="Doughnuts" class="shop__img">
    </div>
    <div class="shop__control pad-8">
        <a href="/admin/add-dons" class="btn__func">Add</a>
        <a href="/admin/dons" class="btn__func btn__func-delete">View</a>
    </div>
</div>
<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">wedding cakes</h3>
    <div class="shop__info">
        <img src="/img/weds-3.jpg" alt="Wedding cakes" class="shop__img">
    </div>
    <div class="shop__control pad-8">
        <a href="/admin/add-weds" class="btn__func">Add</a>
        <a href="/admin/weds" class="btn__func btn__func-delete">View</a>
    </div>
</div>
<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">pancakes</h3>
    <div class="shop__info">
        <img src="/img/pans-3.jpg" alt="Pancakes" class="shop__img">
    </div>
    <div class="shop__control pad-8">
        <a href="/admin/add-pans" class="btn__func">Add</a>
        <a href="/admin/pans" class="btn__func btn__func-delete">View</a>
    </div>
</div>
<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">cookies</h3>
    <div class="shop__info">
        <img src="/img/cookies-3.jpg" alt="Cookies" class="shop__img">
    </div>
    <div class="shop__control pad-8">
        <a href="/admin/add-cookies" class="btn__func">Add</a>
        <a href="/admin/cookies" class="btn__func btn__func-delete">View</a>
    </div>
</div>
<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">Cupcakes</h3>
    <div class="shop__info">
        <img src="/img/cups-3.jpg" alt="Cupcakes" class="shop__img">
    </div>
    <div class="shop__control pad-8">
        <a href="/admin/add-cups" class="btn__func">Add</a>
        <a href="/admin/cups" class="btn__func btn__func-delete">View</a>
    </div>
</div>