<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">Jume Brice</h3>
    <div class="shop__info">
        <img src="/img/bds-1.jpg" alt="Cake" class="shop__img">
    </div>
    <div class="shop__control">
        <button class="btn__func btn__func-delete">Delete</button>
        <a href="#confirm" class="btn__func">Suspend</a>
    </div>
</div>
<div class="shop__item txt-cnt margin-auto">
    <h3 class="title-lil-2 pad-8">Information</h3>
    <p class="events__confirm-msg">Name: Jume Brice</p>
    <p class="events__confirm-msg">Drop site: Malingo</p>
    <p class="events__confirm-msg">Date: 11/11/19</p>
    <p class="events__confirm-msg">Time: 12:30 PM</p>
    <p class="events__confirm-msg">Cake: </p>
    <p class="events__confirm-msg">Cookies: </p>
    <p class="events__confirm-msg">Dougnuts: </p>
    <p class="events__confirm-msg">Current amount: 20,000 frs </p>
    <p class="events__confirm-msg">Complete orders: 78</p>
    <p class="events__confirm-msg">Total amount: 150,000frs</p>

</div>