<div class="admin__dashboard">
    <span class="admin__navigate"><b class="admin__navigate-to">General</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href='/admin/general' class="admin__link">Overview</a></li>
        </ul>
    </div>
    <span class="admin__navigate"><b class="admin__navigate-to">Order</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href="#" class="admin__link">Buea</a></li>
        </ul>
    </div>
    <span class="admin__navigate"><b class="admin__navigate-to">Clients</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href="#" class="admin__link">Buea</a></li>
            <li class="admin__goto"><a href="#" class="admin__link">Bamenda</a></li>
            <li class="admin__goto"><a href="#" class="admin__link">Limbe</a></li>
        </ul>
    </div>
    <span class="admin__navigate"><b class="admin__navigate-to">View Pantry</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href="/admin/cakes" class="admin__link">Birthday Cakes</a></li>
            <li class="admin__goto"><a href="/admin/cookies" class="admin__link">Cookies</a></li>
            <li class="admin__goto"><a href="/admin/pans" class="admin__link">Pancakes</a></li>
            <li class="admin__goto"><a href="/admin/weds" class="admin__link">Wedding Cakes</a></li>
            <li class="admin__goto"><a href="/admin/dons" class="admin__link">Dougnuts</a></li>
            <li class="admin__goto"><a href="/admin/cups" class="admin__link">Cup Cakes</a></li>
            <li class="admin__goto"><a href="/admin/vals" class="admin__link">Valentine choice</a></li>
        </ul>
    </div>
    <span class="admin__navigate"><b class="admin__navigate-to">Add to Pantry</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href="/admin/add-bds" class="admin__link">Birthday Cakes</a></li>
            <li class="admin__goto"><a href="/admin/add-cookies" class="admin__link">Cookies</a></li>
            <li class="admin__goto"><a href="/admin/add-pans" class="admin__link">Pancakes</a></li>
            <li class="admin__goto"><a href="/admin/add-weds" class="admin__link">Wedding Cakes</a></li>
            <li class="admin__goto"><a href="/admin/add-dons" class="admin__link">Dougnuts</a></li>
            <li class="admin__goto"><a href="/admin/add-cups" class="admin__link">Cup Cakes</a></li>
            <li class="admin__goto"><a href="/admin/add-vals" class="admin__link">Valentine choice</a></li>
        </ul>
    </div>
</div>