<div class="admin__box">
    <h2 class="title-lil-1 txt-white admin__left">Welcome Admin</h2>
    <div class="admin__box-pos">
        <img src="../img/jbInc.png" alt="Powered by Jb Inc" class="admin__logo">
        <form action="#" class="admin__signin">
            <div class="admin__signin-sheet">
                <input type="email" class="admin__input" id="email" placeholder="Email" required>
                <label for="email" class="admin__label">Email</label>
            </div>
            <div class="admin__signin-sheet">
                <input type="password" class="admin__input" id="password" placeholder="Password" required>
                <label for="password" class="admin__label">Password</label>
            </div>
            <a href="#" class="admin__btn">Login</a>
        </form>
    </div>
</div>