.sec-carousel {
    background-color: $white;
    padding: 4rem 0 12rem 0;
    margin-top: -11.5vh;
    z-index: -1;
}

.sec-pantry {
    background-color: rgba($black, .8);
    padding: 8rem 0 9rem 0;
}