<div class="panel__user">
    <div class="panel__user--frame">
        <img src="/img/cookies-7.jpg" alt="User image" class="panel__user--img">
    </div>
    <div class="panel__user--info">
        <h3 class="panel__user--name"><%= event.name %></h3>
    </div>
    <div class="panel__user--events">
        <div class="panel__user--association">
            <span class="type notify__item"><a href="#" class="edit txt-white">Edit profile</a></span>
        </div>
    </div>
    <div class="txt-cnt panel__logout">
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn-2 btn-2__hover-icon">Logout<span
                    class="btn-2__icon fas fa-power-off"></span></button>
        </form>
    </div>
    <div class="power">
        Copyrighted &copy;<a href="#" class="dev">JB Inc</a>
    </div>
</div>