<div class="panel__event">
    <% if (success) { %>
    <div class="flash">
        <div class="flash__message flash__message-good"><%= success %></div>
    </div>
    <% } %>
    <h1 class="title-lil-1 txt-cnt">Please Create your events </h1>

</div>