<!-- <% if (products.length > 0) { %>
                    <ul class="events__view-list">
                        <% products.forEach(p => { %>
                        <li class="events__view-item"><%= p.productData.name %> : <%= p.qty %></li>
                        <% }) %>
                    </ul>
                    <% } else { %>
                    <h1>No orders</h1>
                    <% } %> -->