<div class="events__confirm" id="confirm">
    <div class="events__confirm-box">
        <p class="events__confirm-msg">Do you want to delete ?</p>
        <p class="events__confirm-msg">Event: Mumsy</p>
        <p class="events__confirm-msg">Purpose: Celebrating Mumsy's Brithday</p>
        <div class="events__confirm-choice">
            <a href="#" class="btn-flat btn-inline events__confirm-yes">Yes</a>
            <a href="#" class="btn-flat btn-inline events__confirm-no">No</a>
        </div>
    </div>
</div>